<IfModule mod_security2.c>
  SecRuleEngine Off
</IfModule>

<IfModule security2_module>
  SecRuleEngine Off
</IfModule>

RewriteEngine On

# 1) No tocar si es archivo o carpeta existente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2) Quitar la ext .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# 3) Quitar la ext .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Permitir ACME/SSL desde la raíz
RewriteRule ^\.well-known/acme-challenge/ - [L]

# Bloquear acceso directo a código interno
RewriteRule ^(src|vendor)/ - [F,L]

# Preflight CORS directo desde la raíz
RewriteCond %{REQUEST_METHOD} =OPTIONS
RewriteRule ^ - [R=204,L]

# Bloqueamos solo cosas realmente sensibles
<FilesMatch "\.(env|ini|lock|sql|bak)$">
  Require all denied
</FilesMatch>

# Configuración de CORS
<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "https://api.caddy.com.ar"
  Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
  Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Api-Token"
  Header always set Access-Control-Max-Age "86400"
  Header always set Vary "Origin"
</IfModule>
