openapi: 3.0.3

info:
  title: Caddy API
  description: |
    API de integración de Caddy Logística para creación de envíos,
    consulta de tarifas, seguimiento y descarga de etiquetas.

    **Autenticación**

    - Primero obtené un token usando `POST /auth/token`.
    - Luego enviá ese token en el header:

      `X-Api-Token: Bearer {tu_token}`

    > Importante: actualmente **no** se utiliza el header `Authorization`,
    > solo `X-Api-Token`.
  version: 26.12.1
  contact:
    name: Caddy Logística
    url: https://api.caddy.com.ar
    email: info@caddy.com.ar
  x-release-notes:
    26.12.1:
      date: 2025-12-04
      changes:
        - Segunda versión pública de la API Caddy.
        - Endpoint de autenticación `POST /auth/token` para generar tokens.
        - Endpoint `POST /servicios` para crear nuevos envíos.
        - Endpoint `GET /servicios` para listar envíos del cliente.
        - Endpoint `GET /servicios?codigo=...` para ver el seguimiento por código.
        - Endpoint `GET /servicios?idProveedor=...` para ver seguimiento por id de proveedor.
        - Endpoint `GET /rates` para cotizar tarifas.
        - Endpoint `GET /etiquetas` para descargar etiquetas en PDF.

servers:
  - url: https://api.caddy.com.ar/sandbox
    description: Sandbox (testing)
  # Podés agregar producción cuando lo tengas:
  - url: https://api.caddy.com.ar/api
    description: Producción

tags:
  - name: Auth
    description: Autenticación y obtención de tokens de API.
  - name: Servicios
    description: Creación de envíos y consultas de seguimiento.
  - name: Tarifas
    description: Cotización de tarifas de envío.
  - name: Etiquetas
    description: Descarga de etiquetas de envíos.

paths:
  /auth/token:
    post:
      tags:
        - Auth
      summary: Obtiene un token de API
      description: >
        Genera un token de acceso para utilizar el resto de los endpoints.

        El cliente debe autenticarse con su usuario y contraseña provistos por Caddy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - usuario
                - password
              properties:
                usuario:
                  type: string
                  example: cliente@caddy.com.ar
                password:
                  type: string
                  format: password
                  example: "MiClaveSecreta123"
      responses:
        "200":
          description: Token generado correctamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Faltan datos o formato inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Usuario o contraseña incorrectos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /servicios:
    get:
      tags:
        - Servicios
      summary: Lista de servicios o seguimiento puntual
      description: |
        Este endpoint tiene **tres usos** según los parámetros:

        1. **Listado paginado** de envíos del cliente:
           - Usar `page` y `estado`.

        2. **Seguimiento por Código de Seguimiento**:
           - Usar `id`.

        3. **Seguimiento por Código de Proveedor**:
           - Usar `idProveedor`.

        > Solo se debe usar **una modalidad por request**.
      security:
        - ApiToken: []
      parameters:
        - name: page
          in: query
          description: Número de página para el listado de envíos.
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: estado
          in: query
          description: >
            Estado logístico del envío para el listado.

            Internamente se filtra por `TransClientes.Entregado` (0/1).
          required: false
          schema:
            type: string
            example: "0"
        - name: id
          in: query
          description: Código de seguimiento para obtener el detalle de seguimiento.
          required: false
          schema:
            type: string
            example: "N7SHCK1JY"
        - name: idProveedor
          in: query
          description: Código del proveedor (tu identificador interno) para consultar seguimiento.
          required: false
          schema:
            type: string
            example: "ORD-12345"
      responses:
        "200":
          description: Respuesta exitosa (listado o seguimiento).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ServiciosListadoResponse"
                  - $ref: "#/components/schemas/SeguimientoResponse"
        "204":
          description: No se encontraron datos con los filtros/parámetros enviados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Faltan parámetros o combinación inválida (por ejemplo, sin page/id/idProveedor).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token ausente o inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags:
        - Servicios
      summary: Crea un nuevo envío
      description: |
        Crea un nuevo envío (PreVenta) asociado al cliente del token.

        Calcula automáticamente la tarifa en base a las dimensiones, peso,
        código postal y servicio seleccionado (incluye lógica FLEX).
      security:
        - ApiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServicioCreacionRequest"
      responses:
        "200":
          description: Envío creado correctamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicioCreacionResponse"
        "400":
          description: Datos incompletos o inválidos (por ejemplo, faltan dimensiones).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token ausente o inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Error interno al registrar la venta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /rates:
    get:
      tags:
        - Tarifas
      summary: Cotiza un envío
      description: |
        Devuelve la tarifa estimada para un envío en base a:

        - Código postal de destino
        - Dimensiones (largo, ancho, alto)
        - Peso
        - Cantidad
        - Valor declarado
        - Servicio (normal / FLEX)

        Antes de llamar a este endpoint debés obtener un token con `POST /auth/token`.
      security:
        - ApiToken: []
      parameters:
        - name: cp
          in: query
          description: Código postal de destino.
          required: false
          schema:
            type: string
            example: "5000"
        - name: CodigoPostal
          in: query
          description: Alias de `cp`. Se usa si `cp` no está presente.
          required: false
          schema:
            type: string
            example: "5000"
        - name: length
          in: query
          description: Largo del bulto (en cm).
          required: true
          schema:
            type: number
            format: float
            example: 30
        - name: width
          in: query
          description: Ancho del bulto (en cm).
          required: true
          schema:
            type: number
            format: float
            example: 20
        - name: height
          in: query
          description: Alto del bulto (en cm).
          required: true
          schema:
            type: number
            format: float
            example: 15
        - name: weight
          in: query
          description: Peso del bulto (en kg).
          required: true
          schema:
            type: number
            format: float
            example: 2.5
        - name: localidad
          in: query
          description: Nombre de la localidad de destino (opcional, informativo).
          required: false
          schema:
            type: string
            example: "Cordoba"
        - name: servicio
          in: query
          description: >
            Tipo de servicio.

            1 = Normal / Retiro y Entrega

            3 = FLEX (sujeto a disponibilidad).
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: cantidad
          in: query
          description: Cantidad de bultos.
          required: false
          schema:
            type: integer
            default: 1
            example: 1
        - name: valorDeclarado
          in: query
          description: Valor declarado del envío (para seguro).
          required: false
          schema:
            type: number
            format: float
            default: 0
            example: 15000
        - name: flex
          in: query
          description: >
            Forzá lógica FLEX.

            0 = normal, 1 = FLEX. Si `servicio=3` ya se considera FLEX.
          required: false
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        "200":
          description: Cotización generada correctamente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateResponse"
        "400":
          description: Parámetros faltantes o código postal sin tarifa configurada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token ausente o inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /etiquetas:
    get:
      tags:
        - Etiquetas
      summary: Descarga la etiqueta de un envío
      description: |
        Genera y devuelve la etiqueta para un envío existente.

        Actualmente el formato soportado es **PDF**.
      security:
        - ApiToken: []
      parameters:
        - name: codigo
          in: query
          description: Código de seguimiento del envío.
          required: true
          schema:
            type: string
            example: "9PLHJEIK1"
        - name: formato
          in: query
          description: Formato de la etiqueta.
          required: false
          schema:
            type: string
            default: pdf
            enum:
              - pdf
              # - zpl   # Reservado para futuro
      responses:
        "200":
          description: Etiqueta generada correctamente.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Parámetros inválidos o falta "codigo".
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token ausente o inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No se encontró un envío con ese código para el cliente autenticado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: |
        Token de acceso a la API.

        Debe enviarse como:

        `X-Api-Token: Bearer {token}`

        > Nota: actualmente **no** se usa el header `Authorization`.

  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: error
        result:
          type: object
          properties:
            error_id:
              type: string
              example: "401"
            error_msg:
              type: string
              example: "El token enviado es inválido o ha caducado"

    AuthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
          properties:
            token:
              type: string
              example: 33b3b72acb4219b5b5bcb894c9c5f87c
            expires_in:
              type: integer
              description: Tiempo de vida del token en segundos (si aplica).
              example: 86400

    ServiciosListadoItem:
      type: object
      properties:
        Fecha:
          type: string
          format: date-time
          example: "2025-12-04 10:30:00"
        CodigoSeguimiento:
          type: string
          example: "N7SHCK1JY"
        NumeroComprobante:
          type: string
          example: "0001-00001234"
        RazonSocial:
          type: string
          example: "CLIENTE DEMO S.A."
        ClienteDestino:
          type: string
          example: "Juan Pérez"
        DomicilioDestino:
          type: string
          example: "Av. Siempre Viva 742"
        Estado:
          type: string
          description: Estado logístico actual.
          example: "En distribución"
        idProveedor:
          type: string
          nullable: true
          example: "ORD-12345"

    ServiciosListadoResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: array
          items:
            $ref: "#/components/schemas/ServiciosListadoItem"

    SeguimientoItem:
      type: object
      properties:
        id:
          type: integer
          example: 12345
        Fecha:
          type: string
          example: "2025-12-04"
        Hora:
          type: string
          example: "15:32:00"
        Usuario:
          type: string
          example: "sistema"
        CodigoSeguimiento:
          type: string
          example: "N7SHCK1JY"
        Observaciones:
          type: string
          example: "Envío en distribución"
        Estado:
          type: string
          example: "EN_DISTRIBUCION"
        NombreCompleto:
          type: string
          example: "Juan Pérez"
        Dni:
          type: string
          example: "30111222"
        Destino:
          type: string
          example: "Av. Siempre Viva 742 - Córdoba"

    SeguimientoResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: array
          description: Historial de movimientos del envío.
          items:
            $ref: "#/components/schemas/SeguimientoItem"

    ServicioCreacionRequest:
      type: object
      required:
        - NombreCompleto
        - Direccion
        - CodigoPostal
        - Box
      properties:
        token:
          type: string
          description: >
            Soportado por compatibilidad, pero se recomienda
            usar siempre el header `X-Api-Token`.
        NombreCompleto:
          type: string
          example: "Juan Pérez"
        Direccion:
          type: string
          example: "Av. Siempre Viva 742"
        Ciudad:
          type: string
          example: "Cordoba"
        CodigoPostal:
          type: string
          example: "5000"
        Dni:
          type: string
          example: "30111222"
        Telefono:
          type: string
          example: "3511234567"
        Mail:
          type: string
          format: email
          example: "cliente@ejemplo.com"
        Servicio:
          type: integer
          description: 1 = normal, 3 = FLEX.
          example: 1
        Cantidad:
          type: integer
          default: 1
          example: 1
        ValorDeclarado:
          type: number
          format: float
          description: Si es 0 o no viene, se usa un mínimo interno.
          example: 10000
        Cobranza:
          type: number
          format: float
          description: Monto a cobrar en destino (contra entrega).
          example: 0
        Observaciones:
          type: string
          example: "Entregar en portería"
        EnviarMail:
          type: boolean
          description: Si es true, se envía mail al destinatario.
          example: true
        idProveedor:
          type: string
          description: Identificador interno del envío en tu sistema.
          example: "ORD-12345"
        WebHook:
          type: string
          format: uri
          description: URL para notificaciones futuras (opcional).
          example: "https://mi-sistema.com/webhook/caddy"
        Origen:
          type: array
          description: Datos del origen (cliente/proveedor de origen).
          items:
            type: object
            properties:
              idProveedor:
                type: string
                example: "PROV-999"
              Nombre:
                type: string
                example: "Depósito Central"
              Direccion:
                type: string
                example: "Ruta 9 km 12"
        Box:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - Length
              - Width
              - Height
              - Weight
            properties:
              Length:
                type: number
                format: float
                example: 30
              Width:
                type: number
                format: float
                example: 20
              Height:
                type: number
                format: float
                example: 15
              Weight:
                type: number
                format: float
                example: 2.5

    ServicioCreacionResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
          properties:
            Id_de_Venta:
              type: integer
              example: 123456
            Codigo_Seguimiento:
              type: string
              example: "9PLHJEIK1"
            Observaciones:
              type: string
              example: "La Direccion enviada no coincide con la BD, se utilizó la registrada."
            Fecha_Entrega:
              type: string
              example: "Lunes"
            Localidad:
              type: string
              example: "Cordoba"
            Cantidad:
              type: integer
              example: 1
            Titulo:
              type: string
              example: "Entrega Simple a Domicilio"
            Tarifa:
              type: number
              example: 6538
            Total:
              type: number
              example: 6538
            Origen:
              type: object
              properties:
                Nombre:
                  type: string
                  example: "CLIENTE DEMO S.A."
                idClienteOrigen:
                  type: integer
                  example: 101
                Direccion:
                  type: string
                  example: "Av. Colón 1234"
                Ciudad:
                  type: string
                  example: "Cordoba"
                Pais:
                  type: string
                  example: "Argentina"
            Destino:
              type: object
              properties:
                Nombre:
                  type: string
                  example: "Juan Pérez"
                Direccion:
                  type: string
                  example: "Av. Siempre Viva 742"
                Ciudad:
                  type: string
                  example: "Cordoba"
                CodigoPostal:
                  type: string
                  example: "5000"
                Telefono:
                  type: string
                  example: "3511234567"
                Mail:
                  type: string
                  example: "cliente@ejemplo.com"
                Cantidad:
                  type: integer
                  example: 1
            Box:
              type: object
              properties:
                Length:
                  type: number
                  example: 30
                Width:
                  type: number
                  example: 20
                Height:
                  type: number
                  example: 15
                Weight:
                  type: number
                  example: 2.5
            Cobranza:
              type: number
              example: 0
            Servicio:
              type: integer
              example: 1
            ValorDeclarado:
              type: number
              example: 10000
            EnviarMail:
              type: boolean
              example: true

    RateResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
          properties:
            Id:
              type: integer
              example: 321
            Servicio:
              type: string
              example: "Retiro y Entrega"
            Fecha_Entrega:
              type: string
              example: "Martes"
            Localidad:
              type: string
              example: "Cordoba Capital"
            Distancia:
              type: string
              example: "Hasta 30 km."
            Cantidad:
              type: integer
              example: 1
            Valor_Declarado:
              type: number
              example: 15000
            Titulo:
              type: string
              example: "Entrega Simple a Domicilio"
            Tarifa:
              type: number
              example: 6538
            Seguro:
              type: number
              example: 0
            Total:
              type: number
              example: 6538
            Codigo:
              type: string
              example: "183"
