openapi: 3.0.3
info:
  title: Caddy API
  version: 26.12.1
  description: |
    API pública de Caddy para cotización de envíos, creación de servicios y consulta de seguimientos.

    - Todas las respuestas son JSON.
    - Autenticación mediante **token** emitido por `/auth`.
    - En sandbox la base URL es: `https://api.caddy.com.ar/sandbox`.

servers:
  - url: https://api.caddy.com.ar/sandbox
    description: Sandbox
  - url: https://api.caddy.com.ar/api
    description: Produccion

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: UUID
      description: |
        Autenticación por header estándar:

        `Authorization: Bearer {token}`

    XApiToken:
      type: apiKey
      in: header
      name: X-Api-Token
      description: |
        Alternativa al Authorization:

        `X-Api-Token: Bearer {token}`

  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          description: Cuerpo de la respuesta (puede ser objeto o array)
    ErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ApiResponse"
        - type: object
          properties:
            result:
              type: object
              properties:
                error_id:
                  type: string
                error_msg:
                  type: string
          example:
            status: error
            result:
              error_id: "401"
              error_msg: "El token enviado es inválido o ha caducado"

    CotizacionResult:
      type: object
      properties:
        Id:
          type: integer
          description: Id de la cotización registrada en `Cotizaciones`
        Servicio:
          type: string
          example: Retiro y Entrega
        Fecha_Entrega:
          type: string
          example: Viernes
        Localidad:
          type: string
          example: Cordoba Capital
        Distancia:
          type: string
          example: Hasta 50 km.
        Cantidad:
          type: integer
        Valor_Declarado:
          type: number
        Titulo:
          type: string
          example: CADDY. TARIFA FLEX
        Tarifa:
          type: number
          example: 6538
        Seguro:
          type: number
        Total:
          type: number
        Codigo:
          type: string
          example: TARIFA FLEX

    CrearServicioRequest:
      type: object
      required:
        - NombreCompleto
        - Direccion
        - CodigoPostal
        - Box
      properties:
        token:
          type: string
          description: |
            Opcional si ya se envía en el header Authorization/X-Api-Token.
        NombreCompleto:
          type: string
          example: Juan Pérez
        Direccion:
          type: string
          example: Av. Colón 1234
        Ciudad:
          type: string
          example: Cordoba
        CodigoPostal:
          type: string
          example: "5000"
        Dni:
          type: string
          example: "30123456"
        Telefono:
          type: string
          example: "3515551234"
        Mail:
          type: string
          example: "cliente@ejemplo.com"
        Cobranza:
          type: number
          example: 15000
        Servicio:
          type: integer
          description: 1 = normal, 3 = FLEX
          example: 1
        ValorDeclarado:
          type: number
          example: 20000
        Cantidad:
          type: integer
          example: 1
        EnviarMail:
          type: boolean
          example: true
        WebHook:
          type: string
          example: "https://tienda.com/webhooks/caddy"
        Origen:
          type: array
          description: |
            Datos del origen cuando se usa un proveedor externo.
            Si no se envía `idProveedor`, se usa el cliente asociado al token.
          items:
            type: object
            properties:
              idProveedor:
                type: string
                example: "ML-12345"
              Nombre:
                type: string
                example: "Tienda MercadoLibre"
              Direccion:
                type: string
                example: "Av. Siempreviva 742"
        Box:
          type: array
          minItems: 1
          items:
            type: object
            required: [Length, Width, Height, Weight]
            properties:
              Length:
                type: number
                example: 30
              Width:
                type: number
                example: 20
              Height:
                type: number
                example: 15
              Weight:
                type: number
                example: 2.5

    CrearServicioResult:
      type: object
      properties:
        Id_de_Venta:
          type: integer
        Codigo_Seguimiento:
          type: string
          example: N7SHCK1JY
        Observaciones:
          type: string
        Fecha_Entrega:
          type: string
          example: 2025-12-05
        Localidad:
          type: string
        Cantidad:
          type: integer
        Titulo:
          type: string
        Tarifa:
          type: number
        Total:
          type: number
        Origen:
          type: object
          properties:
            Nombre:
              type: string
            idClienteOrigen:
              type: integer
            Direccion:
              type: string
            Ciudad:
              type: string
            Pais:
              type: string
        Destino:
          type: object
          properties:
            Nombre:
              type: string
            Direccion:
              type: string
            Ciudad:
              type: string
            CodigoPostal:
              type: string
            Telefono:
              type: string
            Mail:
              type: string
            Cantidad:
              type: integer
        Box:
          type: object
          properties:
            Length: { type: number }
            Width: { type: number }
            Height: { type: number }
            Weight: { type: number }
        Cobranza:
          type: number
        Servicio:
          type: integer
        ValorDeclarado:
          type: number
        EnviarMail:
          type: boolean

    SeguimientoItem:
      type: object
      properties:
        id:
          type: integer
        Fecha:
          type: string
          example: "2025-12-04"
        Hora:
          type: string
          example: "10:35:00"
        Usuario:
          type: string
          example: "OPERADOR"
        CodigoSeguimiento:
          type: string
        Observaciones:
          type: string
        Estado:
          type: string
          example: "En reparto"
        NombreCompleto:
          type: string
        Dni:
          type: string
        Destino:
          type: string

    ListaServiciosItem:
      type: object
      properties:
        Fecha:
          type: string
          example: "2025-12-04"
        CodigoSeguimiento:
          type: string
          example: "N7SHCK1JY"
        NumeroComprobante:
          type: string
        RazonSocial:
          type: string
        ClienteDestino:
          type: string
        DomicilioDestino:
          type: string
        Estado:
          type: string
          description: Estado logístico actual (texto)
        idProveedor:
          type: string
          description: Código proveedor externo (ej. id de tienda)

paths:
  /auth:
    post:
      summary: Obtener token de autenticación
      description: |
        Devuelve un token para usar en los demás endpoints.

        El token se debe enviar luego en:
        - `Authorization: Bearer {token}` **o**
        - `X-Api-Token: Bearer {token}` **o**
        - como parámetro `token` (solo compatibilidad).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [usuario, password]
              properties:
                usuario:
                  type: string
                  example: api_user
                password:
                  type: string
                  format: password
                  example: "********"
      responses:
        "200":
          description: Token emitido correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              example:
                status: ok
                result:
                  token: "33b3b72acb4219b5b5bcb894c9c5f87c"
                  expiracion: "2025-12-31T23:59:59-03:00"
        "401":
          description: Credenciales inválidas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /rates:
    get:
      summary: Cotizar un envío
      description: |
        Devuelve la tarifa estimada según código postal, dimensiones y peso.

        Requiere token (Authorization / X-Api-Token / `token`).
      security:
        - BearerAuth: []
        - XApiToken: []
      parameters:
        - in: query
          name: cp
          schema:
            type: string
          required: true
          description: Código postal de destino (ej. 5000)
        - in: query
          name: length
          schema:
            type: number
          required: true
        - in: query
          name: width
          schema:
            type: number
          required: true
        - in: query
          name: height
          schema:
            type: number
          required: true
        - in: query
          name: weight
          schema:
            type: number
          required: true
        - in: query
          name: localidad
          schema:
            type: string
          required: false
        - in: query
          name: servicio
          schema:
            type: integer
            default: 1
            description: 1 = normal, 3 = FLEX
        - in: query
          name: cantidad
          schema:
            type: integer
            default: 1
        - in: query
          name: valorDeclarado
          schema:
            type: number
            default: 0
        - in: query
          name: flex
          schema:
            type: integer
            default: 0
            description: 1 fuerza tratamiento FLEX
        - in: query
          name: token
          schema:
            type: string
          required: false
          description: Alternativa si no se envía en el header.
      responses:
        "200":
          description: Cotización generada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              example:
                status: ok
                result:
                  Id: 1234
                  Servicio: "Retiro y Entrega"
                  Fecha_Entrega: "Viernes"
                  Localidad: "Cordoba Capital"
                  Distancia: "Hasta 50 km."
                  Cantidad: 1
                  Valor_Declarado: 10000
                  Titulo: "CADDY. TARIFA FLEX"
                  Tarifa: 6538
                  Seguro: 0
                  Total: 6538
                  Codigo: "183"
        "400":
          description: Error en parámetros o en obtención de precio
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token faltante o inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /servicios:
    get:
      summary: Listar servicios o consultar seguimiento
      description: |
        - `?page={n}` → lista de servicios del cliente.
        - `?id={CodigoSeguimiento}` → detalle de seguimiento.
        - `?idProveedor={codigo}` → seguimiento a partir del id de proveedor.

        Siempre se filtra por el cliente asociado al token y sus clientes relacionados (`Relacion`, `AdminEnvios`).
      security:
        - BearerAuth: []
        - XApiToken: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          required: false
          description: Página de resultados (lista de servicios).
        - in: query
          name: estado
          schema:
            type: string
            example: "0"
          required: false
          description: |
            Solo para `page`: estado logístico (ej. 0 = no entregado, 1 = entregado).
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: Código de seguimiento (para ver movimientos).
        - in: query
          name: idProveedor
          schema:
            type: string
          required: false
          description: Código de proveedor externo (ej. id de tienda).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ApiResponse"
              examples:
                ListaServicios:
                  summary: Lista de servicios (page)
                  value:
                    status: ok
                    result:
                      - Fecha: "2025-12-04"
                        CodigoSeguimiento: "N7SHCK1JY"
                        NumeroComprobante: "0001-00001234"
                        RazonSocial: "CLIENTE ORIGEN SA"
                        ClienteDestino: "Juan Pérez"
                        DomicilioDestino: "Av. Colón 1234"
                        Estado: "En proceso de distribución"
                        idProveedor: "ML-12345"
                SeguimientoPorCodigo:
                  summary: Seguimiento por CódigoSeguimiento
                  value:
                    status: ok
                    result:
                      - id: 1
                        Fecha: "2025-12-04"
                        Hora: "10:00:00"
                        Usuario: "OPERADOR"
                        CodigoSeguimiento: "N7SHCK1JY"
                        Observaciones: "En proceso de distribución"
                        Estado: "PROCESO DE DISTRIBUCION"
                        NombreCompleto: "Juan Pérez"
                        Dni: "30123456"
                        Destino: "Av. Colón 1234 - Cordoba"
                SeguimientoPendiente:
                  summary: Venta aún no cargada a Seguimiento (PreVenta)
                  value:
                    status: ok
                    result:
                      - id: 999
                        Fecha: "2025-12-04"
                        Hora: "09:30:00"
                        Usuario: "API"
                        CodigoSeguimiento: "N7SHCK1JY"
                        Observaciones: "La venta aun no fue cargada al sistema de seguimiento"
                        Estado: "Pendiente"
                        NombreCompleto: "Juan Pérez"
                        Dni: ""
                        Destino: "Av. Colón 1234 - Cordoba"
        "204":
          description: No se encontraron datos para el criterio indicado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                status: error
                result:
                  error_id: "204"
                  error_msg: "Seguimiento no encontrado"
        "401":
          description: Token faltante o inválido / cliente sin NdeCliente asociado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Crear un nuevo servicio (envío)
      description: |
        Crea una venta en `PreVenta`, genera un `CodigoSeguimiento` y opcionalmente
        envía un mail al destinatario.

        Requiere token válido asociado a un usuario que tenga `NdeCliente` configurado.
      security:
        - BearerAuth: []
        - XApiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrearServicioRequest"
            example:
              NombreCompleto: "Juan Pérez"
              Direccion: "Av. Colón 1234"
              Ciudad: "Cordoba"
              CodigoPostal: "5000"
              Dni: "30123456"
              Telefono: "3515551234"
              Mail: "cliente@ejemplo.com"
              Cobranza: 15000
              Servicio: 1
              ValorDeclarado: 20000
              Cantidad: 1
              EnviarMail: true
              WebHook: "https://tienda.com/webhooks/caddy"
              Origen:
                - idProveedor: "ML-12345"
                  Nombre: "Tienda MercadoLibre"
                  Direccion: "Av. Siempreviva 742"
              Box:
                - Length: 30
                  Width: 20
                  Height: 15
                  Weight: 2.5
      responses:
        "200":
          description: Servicio creado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              example:
                status: ok
                result:
                  Id_de_Venta: 12345
                  Codigo_Seguimiento: "N7SHCK1JY"
                  Observaciones: ""
                  Fecha_Entrega: "2025-12-05"
                  Localidad: "Cordoba"
                  Cantidad: 1
                  Titulo: "CADDY SIMPLE"
                  Tarifa: 6538
                  Total: 6538
                  Origen:
                    Nombre: "CLIENTE ORIGEN SA"
                    idClienteOrigen: 10
                    Direccion: "Ruta 9 km 123"
                    Ciudad: "Cordoba"
                    Pais: "Argentina"
                  Destino:
                    Nombre: "Juan Pérez"
                    Direccion: "Av. Colón 1234"
                    Ciudad: "Cordoba"
                    CodigoPostal: "5000"
                    Telefono: "3515551234"
                    Mail: "cliente@ejemplo.com"
                    Cantidad: 1
                  Box:
                    Length: 30
                    Width: 20
                    Height: 15
                    Weight: 2.5
                  Cobranza: 15000
                  Servicio: 1
                  ValorDeclarado: 20000
                  EnviarMail: true
        "400":
          description: Error de validación o datos incompletos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token inválido, sin token o sin NdeCliente asociado al usuario
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Error interno al insertar la venta
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
